./server/logs/
./server/npm-debug.log
./server/yarn-error.log
./server/node_modules/
./server/package-lock.json
./server/yarn.lock
./server/coverage/
./server/.idea/
./server/run/
./server/*.sw*
./server/*.un~
./server/typings/
./server/.nyc_output/


./view/.DS_Store
./view/node_modules
./view/dist

# local env files
./view/.env.local
./view/.env.*.local

# Log files
./view/npm-debug.log*
./view/yarn-debug.log*
./view/yarn-error.log*

# Editor directories and files
./view/.idea
./view/.vscode
./view/*.suo
./view/*.ntvs*
./view/*.njsproj
./view/*.sln
./view/*.sw?